/* General styles */
body {
    display: flex;
    margin:   0;
    padding:   0;
    background-color: #f5f5f5; /* Light background color */
    font-family: 'Arial', sans-serif;
  }
  
  /* Header styles */
  header {
    width:   23%;
    background-color: #f5f5f5; /* Light background color */
    height:   100vh;
    margin:   0;
    box-shadow:   0   2px   4px rgba(0,   0,   0,   0.1); /* Soft shadow */
  }
  
  .barra {
    width:   96%;
    height:   8.5vh;
    background-color: #f5f5f5; /* Light background color */
    display: flex;
    align-items: center;
    padding:   0   20px;
    box-shadow:   0   2px   4px rgba(0,   0,   0,   0.1); /* Soft shadow */
  }
  
  .header {
    width:   100%;
    height:   8vh;
    margin:   0;
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: #000000; /* Dark text color */
    justify-content: center;
    height:   100%;
    width:   100%;
    font-size:   1.25em; /* Logo font size */
    font-weight: bold; /* Bold for the logo */
  }
  
  .puntos, .mas {
    width:  99.2%;
    height:  10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
   
  }
  .puntos:hover{
    background-color: #000000; /* Dark background color on hover */
    color: #ffffff; 
  }
  .puntos a, .mas a {
    padding:  5px  25px;
    text-decoration: none;
    color: #000000; /* Dark text color */
   
    width: 79%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .puntos a:hover, .mas a:hover {
    background-color: #000000; /* Dark background color on hover */
    color: #ffffff; /* White text color on hover */
  }
  /* Main content styles */
  .contenidos {
    width:   100%;
    height:   83vh;
    margin:   50px   0;
  }
  
  main {
    width:   80%;
    height:   100vh;
    margin: auto; /* Horizontally centered */
  }
  
  .main {
    box-shadow:   0   4px   8px rgba(0,   0,   0,   0.1); /* Soft shadow */
    margin:   50px   18px;
    height:   70%;
    border-radius:   10px;
    background-color: #ffffff; /* White background color */
    overflow-y: auto;
    padding: 20px;
  }
  

  
  
  
  /* Sub points styles */
  .sub_puntos {
    width:   99.2%;
    height:   10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sub_puntos a {
    display: flex;
    justify-content: center;
    align-items: center;
    width:   100%;
    height:   100%;
    text-decoration: none;
    color: #000000; /* Dark text color */
    transition: background-color   0.3s, color   0.3s; /* Smooth transition */
  }
  
  .sub_puntos a:hover {
    background-color: #000000; /* Dark background color on hover */
    color: #ffffff; /* White text color on hover */
  }
  
  

  .hidden {
    display: none;
  }
  

  .productos, .marcas, .categorias, .ventas, .compras {
    display: inline-block;
    width:  20%; /* Ajusta este valor según el ancho deseado para cada div */
    height:  30%; /* Ajusta este valor según el alto deseado para cada div */
    box-sizing: border-box; /* Para incluir padding y border en el ancho y alto */
    padding:  10px; /* Espacio interior para cada div */
    margin:  5px; /* Espacio exterior para cada div */
    font-family: 'Arial', sans-serif; /* Tipografía consistente */
    font-size:  1.25em; /* Tamaño de fuente consistente */
    font-weight: bold; /* Fuente en negrita para resaltar */
    text-align: center; /* Texto centrado dentro de cada div */
    color: #333; /* Color de texto oscuro para legibilidad */
    background-color: #f5f5f5; /* Color de fondo claro para cada div */
    border:  1px solid #ddd; /* Borde sutil para separar los divs */
    border-radius:  5px; /* Bordes redondeados para un aspecto más suave */
    box-shadow:  0  2px  4px rgba(0,  0,  0,  0.1); /* Sombra sutil para profundidad */
  }
  
  /* Estilos para el hover para resaltar al pasar el cursor */
  .productos:hover, .marcas:hover, .categorias:hover, .ventas:hover, .compras:hover {
    background-color: #e0e0e0; /* Color de fondo más claro al pasar el cursor */
    border-color: #bbb; /* Color de borde más oscuro al pasar el cursor */
    box-shadow:  0  4px  8px rgba(0,  0,  0,  0.2); /* Sombra más profunda al pasar el cursor */
  }
  